<%- include('partials/header') %>

<div class="container py-md-5 container-narrow">
  <div class="text-center">
    <h2>Dammit ! Cette page est introuvable !</h2>
    <p>Retour à la <a href="/">page d'accueil</a></p>
  </div>
</div>
