<%- include('partials/header') %>

<div class="container py-md-5">
  <% erreurs.forEach(erreur => { %>
  <div class="alert alert-danger text-center"><%= erreur %></div>
  <% }) %>

  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
      <h1 class="display-3">Pourquoi Socios ?</h1>
      <p class="lead text-muted">
        Parce que c'est mieux que Facebook, Twitter et TikTok réunis. Retrouvez
        le plaisir d'écrire sur Internet.
      </p>
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <form action="/inscrire" method="POST">
        <% erreursInscription.forEach(erreur => { %>
        <div class="alert alert-danger small"><%= erreur %></div>
        <% }) %>

        <div class="form-group">
          <label for="nom-inscription" class="text-muted mb-1"
            ><small>Nom d'utilisateur</small></label
          >
          <input
            id="nom-inscription"
            name="nom"
            class="form-control"
            type="text"
            placeholder="Choisissez !"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="email-inscription" class="text-muted mb-1"
            ><small>Email</small></label
          >
          <input
            id="email-inscription"
            name="email"
            class="form-control"
            type="text"
            placeholder="votre.email@exemple.fr"
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="mdp-inscription" class="text-muted mb-1"
            ><small>Mot de passe</small></label
          >
          <input
            name="mdp"
            class="form-control"
            type="password"
            placeholder="Votre mot de passe suffisamment long"
          />
        </div>

        <button
          type="submit"
          class="py-3 mt-4 btn btn-lg btn-success btn-block"
        >
          Créez votre compte
        </button>
      </form>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
